.box{
  border: 1px solid black;
  height: 100px;
  width: 100px;
  display: inline-block;
}

 
.purple:hover{
  background-color: violet;
}
  
.green:hover{
  background-color: yellowgreen;
}

.red:hover{
  background-color: salmon;
}
   
.yellow:hover{
  background-color: gold;
}

.blue:hover{
  background-color: cyan;
}
